
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Social Media Post Generator</title>
</head>
<body>
<h1>Social Media Post Generator</h1>
<form action="/generate_post" method="POST">
<label for="brand_name">Brand Name:</label>
<input type="text" id="brand_name" name="brand_name">
<br>
<label for="brand_voice">Brand Voice:</label>
<input type="text" id="brand_voice" name="brand_voice">
<br>
<label for="target_audience">Target Audience:</label>
<input type="text" id="target_audience" name="target_audience">
<br>
<label for="product_description">Product Description:</label>
<input type="text" id="product_description" name="product_description">
<br>
<input type="submit" value="Generate Post">
</form>
</body>
</html>

